
.image {
    width: 50px; /* רוחב התמונה */
    height: 50px; /* גובה התמונה */
    border-radius: 50%; /* עיגול הקצוות של התמונה */
    object-fit: cover; /* מילוי התמונה באופן שהיא תמלא את כל המרחב */
  }